<hr/>
<h2><%= @product.class.name %></h2>
<h2><%= @product.name %></h3>

<h3><%= @product.description %></h3>
<h3>Price: $<%= @product.price %></h3>
<h3>Stock remaining: <%= @product.stock_quantity %></h3>

<p><%= link_to 'Back', products_path %></p>