<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <h1 >EcommerceProject</h1>
      <nav>
         <li><%= link_to 'Home', root_path, :class=>"navbar-item" %></li>
         <li><%= link_to "Products", products_path %></li>
        <li>About Us</li>
        <li>Contact</li>
      </nav>

      <h2> Product Categories </h2>
      <ul>
        <li><%= link_to 'Monitors', products_path(category_type: 1) %></li>
        <li><%= link_to 'Keyboard', products_path(category_type: 2) %> </li>
        <li><%= link_to 'Mouse', products_path(category_type: 3) %></li>
        <li><%= link_to 'Printer', products_path(category_type: 4) %></li>
        <li><%= link_to 'Webcam', products_path(category_type: 5) %></li>
      </ul>


    <%= form_tag(search_results_path, method: "get") do %>
        <div class="navbar-item field has-addons">
          <div class="control select">
            <%= select_tag "search_option", "<option>Search All</option><option>Monitors</option><option>Keyboard</option>
            <option>Mouse</option><option>Printer</option><option>Webcam</option>".html_safe %>
          </div>
          <div class="control">
            <%= text_field_tag(:q, nil, class: "input") %>
          </div>
          <div class="control">
            <%= submit_tag("Search", class: "button is-info") %>
          </div>


</div>
        <% end %>


    <%= yield %>
  </body>
</html>
