<!DOCTYPE html>
<html>
  <head >
  <meta charset="UTF-8">
    <title>BlitzPc</title>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>
  <body>
    <section class="section is hero is-small is-dark is-bold">
      <div class="container">

            <div class="level-right" style="padding: 10px;">
                <% if user_signed_in? %>
                  <p class="level-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => '' %></p>
                  <p class="level-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => ''  %></p>
                <% else %>
                  <p class="level-item"><%= link_to "Sign up", new_user_registration_path, :class => ''  %></p>
                  <p class="level-item"><%= link_to "Login", new_user_session_path, :class => ''  %></p>
                  <p class="level-item"></p>
                <% end %>
            </div>
                <div class="row level-right" style="padding: 10px;">
                  <div class="col-xs-6 text-right">
                    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
                  </div>
               </div>
        </div>

            <div class="level-right" style="padding: 5px;">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
            </div>


          <div class="container">
            <h2 class="title is-2">Blitz PC</h2>
              <nav class= "navbar" aria-label="main navigation">
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <%= link_to 'Home', root_path, :class=>"navbar-item" %>
                    <%= link_to "About Us", static_path(permalink: 'about-us' ), :class=>"navbar-item" %>
                    <%= link_to "Contact", static_path(permalink: 'contact'), :class=>"navbar-item" %>
                  </div>
                </div>


          <%= form_tag(search_results_path, method: "get") do %>
                  <div class="navbar-item field has-addons">
                    <div class="control select">
                      <%= select_tag "search_option", "<option>Search All</option><option>Monitor</option><option>Keyboard</option>
                      <option>Mouse</option><option>Printer</option><option>Webcam</option>".html_safe %>
                    </div>
                    <div class="control">
                      <%= text_field_tag(:q, nil, class: "input") %>
                    </div>
                    <div class="control">
                      <%= submit_tag("Search", class: "button is-info") %>
                    </div>
                  </div>
              <% end %>
            </nav>
          </div>
      </section>



    <div class="container">
      <section class= "section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
