<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <h1 >EcommerceProject</h1>
      <nav>
         <li><%= link_to 'Home', products_path, :class=>"navbar-item" %></li>
        <li>About Us</li>
        <li>Contact</li>
      </nav>


    <%= yield %>
  </body>
</html>
