  <div class="container">
    <h2 class="title is-size-3 is-spaced">Search Results</h2><hr/>
    <h4 class= "subtitle is-size-6">Results found for "<%= @query %>" returned <%= pluralize(@products.size, 'result')%>.</h4>
        <br/>
        <%= render @products%>
    </div>


<div class="container">
  <section class="section">
        <% @products.each do |product|%>
          <h1 class="title is-size-5"><%= link_to product.product_name, product %></h1>
          <h2 class="subtitle is-size-6 is-spaced">
          <% if product.image? %>
            <p><%= image_tag product.image.thumbnail.url %></p>
          <%end%>
          <h3>Price: $<%= product.price %></h3><br/>
          <% end %>
    </section>
  </div>

<p><%= link_to 'Back', products_path %></p>
